<h1> Create a New Recipe! </h1>

<form method="post" action="/recipes">
    <p>Recipe&#39;s Name: <input type="test" name="name"></p>
    <p>Recipe&#39;s Ingredients: <input type="text" name="ingredients"></p>
    <p>Recipe&#39;s Cook Time: <input type="text" name="cook_time"></p>
    <input type="submit" name="submit">
</form>
<a href="/recipes">Go Back to Lists</a>